.editor,
.editorErr {
  padding: 10px;
  font-size: 1.7em;
  background-color: rgba(241, 241, 241, 0.724);
  border-radius: 5px;
  outline: none;
  transition: 0.7s;
  border: 3px solid #cccccc;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}

.editor:focus,
.editorErr:focus {
  border: 3px solid orange;
  background-color: #ffffff;
}

.editorErr {
  border: 3px solid red;
}

.cmdBtn {
  font-size: 2em;
}

.cmdsContainer {
  padding: 20px;
  display: flex;
}

.cmdContainer button {
  background-color: rgba(64, 75, 86, 0.989);
  margin: 10px;
  color: #ffffff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(68, 98, 130, 0.989);
  cursor: pointer;
  font-size: 1em;
  padding: 5px;
}

.activeBtn {
  color: orange !important;
}

[contenteditable="true"] {
  display: inline-block;
  word-wrap: break-word;
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: #7a7a7a;
  font-weight: 400;
}
