.about {
  color: #c3c3c3;
  margin-bottom: 20px;
  height: 100%;
  text-align: center;
}

.aboutHeader {
  font-size: 2.5em;
  color: #f1f1f1;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}

.wrapper {
  width: 100vw;
  min-height: calc(100vh - 123px);
  max-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 800px;
  height: 100%;
  position: relative;
  margin: 100px auto;
  opacity: 0;
  animation: fadeIn 0.7s forwards;
}

.imgContainer {
  width: 300px;
  padding: 10px;
  background-color: rgb(42, 50, 59);
  border: 1px solid rgba(76, 89, 95, 0.587);
  border-radius: 30px;
  box-sizing: border-box;
  margin-bottom: 70px;
}

.imgContainer img {
  width: 100%;
  border-radius: 30px;
  box-sizing: border-box;
  transform: translate(-20px, -20px);
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
}

.contactBtn {
  width: 300px;
  margin: auto;
  background: #e98901;
  border: 1px solid #e98901;
  background: -webkit-linear-gradient(to right, #e98901, #e5c785);
  background: linear-gradient(to right, #e98901, #e5c785);
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 1);
  box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 1);
  margin-top: 50px;
}

.contactBtn a {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
}

.contactBtn:active {
  opacity: 0.7;
}

@media only screen and (max-width: 700px) {
  .imgContainer {
    width: 80%;
  }

  .imgContainer img {
    width: 100%;
  }

  .content {
    width: 95%;
  }

  .aboutHeader {
    font-size: 2em;
  }

  .contactBtn {
    width: 250px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
