.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.466);
  z-index: 5;
  cursor: pointer;
}

.container {
  background-color: rgba(64, 75, 86, 0.989);
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 25px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  border-radius: 10px;
  z-index: 6;
  box-sizing: border-box;
}

.headerText {
  font-size: 2.5em;
  color: #f1f1f1;
  font-weight: 500;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  width: 50%;
}

.headerText:before {
  content: "";
  background: #e98901;
  border: 1px solid #e98901;
  height: 2px;
  background: -webkit-linear-gradient(to right, #e98901, #e5c785);
  background: linear-gradient(to right, #e98901, #e5c785);
  border-radius: 10px;
  width: 200px;
  position: absolute;
  top: -5px;
}

.container input,
.container textarea {
  padding: 10px;
  font-size: 1.7em;
  background-color: rgba(241, 241, 241, 0.724);
  border-radius: 5px;
  outline: none;
  transition: 0.7s;
  border: 3px solid #cccccc;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}

.container textarea {
  height: 300px;
}

.container input:focus,
.container textarea:focus {
  border: 3px solid orange;
  background-color: #ffffff;
}

.field {
  color: #c3c3c3;
  font-size: 1.5em;
  margin: 0 0 10px 10px;
  position: relative;
}

.field:after {
  content: "*";
  color: red;
  margin-left: 5px;
}

.addNewProjectBtn {
  width: 300px;
  margin: auto;
  background: #e98901;
  border: 1px solid #e98901;
  background: -webkit-linear-gradient(to right, #e98901, #e5c785);
  background: linear-gradient(to right, #e98901, #e5c785);
  padding: 10px;
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 1);
  box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 1);
}

.addNewProjectBtn:active {
  opacity: 0.7;
}

.xmark svg {
  width: 35px;
  height: 35px;
  fill: orange;
  pointer-events: none;
}

.xmark {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
  opacity: 0.7;
  width: 35px;
  height: 35px;
  display: inline-block;
  z-index: 50;
}

.xmark:hover {
  opacity: 1;
}

.inputError {
  border: 3px solid red !important;
}

.exclamation {
  font-style: normal;
  width: 20px;
  height: 20px;
  background-color: rgb(240, 113, 113);
  border-radius: 50%;
  position: relative;
  font-weight: bold;
  float: left;
}

.errMsgContainer {
  display: flex;
  flex-direction: row;
  height: 20px;
  overflow: hidden;
  position: relative;
  top: -20px;
  margin-left: 10px;
}

.errMsg {
  float: left;
  color: rgb(240, 113, 113);
  margin-left: 10px;
}

.exclamation:before {
  content: "!";
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
  .container {
    width: 95%;
  }
}
