.header {
  margin: auto;
  max-width: 1080px;
  width: 80;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
  border-bottom: 5px solid #333333;
  background-color: rgba(37, 37, 37, 0.584);
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
}

.header ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

.header li {
  list-style: none;
  margin-left: 20px;
  line-height: 25px;
  color: #ffffff;
  position: relative;
}

.header li:before {
  content: "";
  width: 100%;
  border-bottom: 2px solid rgba(209, 209, 245, 0.212);
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 0.4s;
}

.header li:hover:before {
  content: "";
  width: 100%;
  transform: scale(1);
}
