.fieldStyle {
  width: 100%;
  height: 2px;
  padding: 0;
  margin: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-top: 5px solid transparent;
  -moz-border-image: -moz-linear-gradient(top, #6e8889 20%, #707283 80%);
  -webkit-border-image: -webkit-linear-gradient(top, #666e6e 20%, #3a4ed5 80%);
  border-image: linear-gradient(to right, #e98901 20%, #e5c785 80%);
  border-image-slice: 1;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.fieldStyle legend {
  text-align: center;
  font-size: 1.2em;
  position: relative;
  top: -3px;
  padding: 0 10px 0 10px;
}
