<<<<<<< HEAD
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.317);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.overlay::before {
  content: "Loading...";
  color: #ffffff;
  font-size: 1.3em;
}
=======
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.317);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.overlay::before {
  content: "Loading...";
  color: #ffffff;
  font-size: 1.3em;
}
>>>>>>> 9e44303 (Fixed a bug with the add project editor)
