.mobileNavBtnContainer {
  position: absolute;
  right: 30px;
  top: 18px;
  height: 30px;
  width: 50px;
  cursor: pointer;
  z-index: 5;
  display: none;
  cursor: pointer;
}

.mobileCheckBox {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 34px;
  height: 30px;
  z-index: 50;
  opacity: 0;
  display: none;
  cursor: pointer;
}

.mobileNavBtn {
  background-color: orange;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  height: 3px;
  position: absolute;
  top: 13px;
  right: 0;
  width: 30px;
  transition: 0.3s;
  z-index: 50;
}

.mobileNavBtn:before {
  background-color: orange;
  border-radius: 2px;
  content: " ";
  height: 3px;
  position: absolute;
  top: -10px;
  width: 30px;
  transition: all 0.3s ease-in-out;
}

.mobileNavBtn:after {
  background-color: orange;
  border-radius: 2px;
  content: " ";
  height: 3px;
  position: absolute;
  top: 10px;
  width: 30px;
  transition: all 0.3s ease-in-out;
}

.closeMobileBtn::after {
  transform: rotate(-45deg);
  top: -5px;
}

.closeMobileBtn:before {
  transform: rotate(45deg);
  top: -5px;
}
.navMenu {
  position: absolute;
  visibility: hidden;
  right: -300px;
  background-color: #333333;
  width: 300px;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  display: none;
  transition: all 0.3s ease-in-out;
}

.mobileCheckBox:checked ~ .navMenu {
  animation: slideOpen 0.3s forwards;
}

.mobileCheckBox:not(:checked) ~ .navMenu {
  animation: slideClosed 0.3s forwards;
}

.mobileCheckBox:checked ~ .overlay {
  visibility: visible;
}

.mobileCheckBox[type="checkbox"]:checked
  + .mobileNavBtnContainer
  .mobileNavBtn:after {
  transform: rotate(45deg);
  top: -5px;
}

.mobileCheckBox[type="checkbox"]:checked
  + .mobileNavBtnContainer
  .mobileNavBtn:before {
  top: -5px;
  transform: rotate(-45deg);
}

.mobileCheckBox[type="checkbox"]:checked
  + .mobileNavBtnContainer
  .mobileNavBtn {
  background-color: transparent;
}

.mobileCheckBox[type="checkbox"]:not(:checked)
  + .mobileNavBtnContainer
  .mobileNavBtn:after {
  animation: mobileBarOneReset 0.3s forwards;
}

@keyframes slideOpen {
  from {
    right: -300px;
  }

  to {
    visibility: visible;
    right: 0;
  }
}

@keyframes slideClosed {
  from {
    right: 0px;
  }

  to {
    visibility: visible;
    right: -300px;
  }
}
.linkWrapper {
  margin-top: 50px;
}

.navMenu span {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.126);
  border: 1px solid rgba(0, 0, 0, 0.479);
  border-right: 0;
  border-left: 0;
  padding: 0;
  display: inline-block;
}

.navMenu span:hover {
  border-left: 1px solid #000000;
  background-color: rgba(26, 24, 24, 0.66);
  transform: scale(1.1);
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navMenu a {
  display: inline-block;
  width: 100%;
  padding: 0px 20px 0 20px;
  color: rgb(153, 153, 180);
  text-decoration: none;
  font-size: 1.3em;
}

.navMenu a:hover {
  color: orange;
}

.leaveSVG {
  position: relative;
  top: 3px;
  left: 25px;
  fill: rgba(0, 0, 0, 0.384);
}

.overlay {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.466);
  z-index: 1;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .navMenu {
    display: inline-block;
  }

  .overlay {
    display: inline-block;
  }

  .mobileNavBtnContainer {
    display: inline-block;
  }

  .mobileCheckBox {
    display: inline-block;
  }
}
