.active {
  color: orange;
}

nav a {
  color: rgb(153, 153, 180);
  text-decoration: none;
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  line-height: 100%;
  display: inline-block;
  padding: 20px 20px 10px 20px;
  font-weight: 700;
  font-size: 1.3rem;
}

nav a:hover {
  color: orange;
}

.navLeft {
  width: 50%;
}

.navLeft li,
.navRight li {
  list-style: none;
  line-height: 25px;
  color: #ffffff;
  position: relative;
  margin-left: 20px;
}

.navLeft ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 650px;
  height: 50px;
}

.navLeft li:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(64, 75, 86, 0.688);
  border: 1px solid rgb(53, 66, 78);
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 0.4s;
}

.navLeft li:hover:before {
  content: "";
  width: 100%;
  transform: scale(1);
}

.navRight {
  position: absolute;
  right: 0;
  width: 70px;
  float: right;
}

.navRight li {
  float: right;
  margin-right: 10px;
}

.navRight li:before {
  border-bottom: 0;
}

.hangRight {
  float: right;
  position: absolute;
  right: 0;
}

.gitHubSVG {
  transition: 0.3s;
}

.gitHubSVG:hover {
  transform: scale(1.1);
}

@keyframes mobileBarTwo {
  from {
    transform: rotate(0deg);
    top: 10px;
  }

  to {
    transform: rotate(45deg);
    top: -5px;
  }
}

@keyframes mobileBarOne {
  from {
    transform: rotate(0deg);
    top: -10px;
  }
  to {
    transform: rotate(-45deg);
    top: -5px;
  }
}

@keyframes fadeOutBar {
  from {
    background-color: orange;
  }
  to {
    background-color: transparent;
  }
}

@media only screen and (max-width: 700px) {
  .navLeft {
    display: none;
  }

  .navRight {
    display: none;
  }

  .mobileNavBtnContainer {
    display: inline-block;
  }
}
