.projectContainer {
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(64, 75, 86);
  border: 1px solid rgba(68, 89, 110, 0.575);
  border-radius: 10px;
  flex-basis: 49%;
  margin: 20px 0 20px 0;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1080px) {
  .projectContainer {
    flex-basis: 100%;
  }
}
