.projectContainer {
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(64, 75, 86);
  border: 1px solid rgba(68, 89, 110, 0.575);
  border-radius: 10px;
  flex-basis: 49%;
  margin: 20px 0 20px 0;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button,
.buttonSource {
  display: inline-block;
  background-color: #e38b11;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 28px 0px rgba(53, 63, 74, 1);
  -moz-box-shadow: 5px 5px 28px 0px rgba(53, 63, 74, 1);
  box-shadow: 5px 5px 28px 0px rgba(53, 63, 74, 1);
  margin-left: 20px;
  font-weight: 500;
  transition: 0.3s;
}

.button:hover,
.buttonSource:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.button a,
.buttonSource a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 10px;
}

.buttonSource a {
  color: #e38b11;
}

.buttonSource {
  background-color: #ffffff;
  color: #111;
}

.projectRows {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linkContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100px;
}

.adminControls {
  color: #757575;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8em;
}

.adminControls svg {
  margin: 0 10px 0 10px;
  width: 20px;
  cursor: pointer;
  fill: rgb(146, 146, 146);
}

.svgIcon {
  position: relative;

  display: inline-block;
  align-self: flex-start;
}

.svgIcon:before,
.svgIcon:after {
  --scale: 0;
  --tooltip-color: rgba(0, 0, 0, 0.619);
  --arrow-size: 5px;
  transition: 0.3s transform;
  content: attr(data-tip);
  position: absolute;
  width: max-content;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  align-self: flex-start;
  padding: 5px;

  transform-origin: bottom center;
}

.svgIcon::before {
  --translate-y: calc(-100% - var(--arrow-size));
  background-color: var(--tooltip-color);
  border-radius: 5px;
}

.svgIcon:hover::before,
.svgIcon:hover::after {
  --scale: 1;
}

.svgIcon::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: "";
  padding: 0;
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}

.editIcon {
  width: 25px !important;
}

.editIcon:hover {
  fill: rgb(40, 94, 147);
}

.trashIcon:hover {
  fill: rgb(189, 45, 45);
}

@media only screen and (max-width: 1080px) {
  .projectContainer {
    flex-basis: 100%;
  }
}
